canvas {
	position: absolute;
	top: 50px;
	left: 50px;
	border: solid;
	border-width: 1px;
	border-color: black;
	padding: 0px;
	margin: 0px;
	background-image: url(ocean.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	position: absolute;
	top: 0px;
	left: 50px;
	width: 1250px;
	text-align: center;
}

.id {
	position: absolute;
	top: 0px;
	left: 10px;
	text-align: center;
}

.connectTo {
	position: absolute;
	top: 25px;
	left: 10px;
}